absl-py==2.1.0
altair==5.4.1
blinker==1.8.2
cachetools==5.5.0
charset-normalizer==3.4.0
click==8.1.7
flatbuffers==24.3.25
grpcio==1.67.0
h5py==3.12.1
Jinja2==3.1.4
jsonschema==4.23.0
keras==3.6.0
Markdown==3.7
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
pillow==10.4.0
protobuf==4.25.5
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
streamlit==1.39.0
tensorboard==2.17.1
tensorflow==2.17.0
termcolor==2.5.0
typing_extensions==4.12.2
urllib3==2.2.3
watchdog==5.0.3
Werkzeug==3.0.4
